.not-found-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 184px;
  font-style: normal;
  font-weight: 400;
  height: 100vh;
}

.not-found-page__container {
  width: max-content;
  height: max-content;
  margin-top: 246px;
}

.not-found-page__title {
  font-size: 140px;
  line-height: 1.20;
  font-weight: inherit;
  margin: 0;
}

.not-found-page__text {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: inherit;
}

.not-found-page__btn {
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  color: #000;
  transition: opacity .5s;

}

.not-found-page__btn:hover {
  opacity: .6;
}

@media screen and (max-width: 330px) {
  .not-found-page {
    gap: 284px;
  }

  .not-found-page__title {
    font-size: 80px;
    line-height: 1.21;
  }

  .not-found-page__text {
    font-size: 12px;
    line-height: 1.25;
    margin-top: 10px;
  }

  .not-found-page__btn {
    font-size: 12px;
    line-height: 1.25;
  }
}