.auth-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 396px;
  height: 100vh;
}

.auth-page__link {
  display: flex;
  justify-content: flex-start;
  margin: 70px 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-page__title {
  padding-top: 40px;
  font-size: 24px;
  line-height: 1.2;
  font-style: normal;
  margin: 0;
  text-align: left;
  width: 100%;
}

.form__label {
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
  text-align: left;
}

.form__label:first-child {
  padding-top: 40px;
}

.form__input {
  border-radius: 8px;
  background-color: #F9F9F9;
  border: none;
  height: 46px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.23;
}

.form__error {
  height: 20px;
  color: #FF4062;
}

.form__submit {
  background-color: #000;
  height: 45px;
  color: #fff;
  font-size: 14px;
  line-height: 1.21;
  padding: 0;
  border: none;
}

.form__submit_type_login {
  margin-top: 159px;
}

.form__text {
  padding-top: 16px;
  color: #A0A0A0;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  margin: 0;
}

.form__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  transition: opacity .5s;
}

.form__link:hover {
  opacity: .6;
}

@media screen and (max-width: 800px) {
  .auth-page__link {
    margin-top: 232px;
  }
}